.ptb--120 {
    padding: 120px 0;
    font-family: 'Poppins', sans-serif;
}

.text-center {
    text-align: center;
}

.col-xs-12 {
    width: 100%;
}

.section__title .title__line {
    font-family: 'Poppins', sans-serif;
    color: #303030;
    font-size: 30px;
    line-height: 30px;
}

.section__title.section__title--2 p {
    font-family: 'Poppins', sans-serif;
    color: #666666;
    font-size: 15px;
    line-height: 26px;
    margin: 27px auto auto;
    width: 40%;
}

.blog {
    margin-top: 30px;
    
    visibility: visible;
    -webkit-transform: translateY(0) scale(1);
    opacity: 1;
    transform: translateY(0) scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.blog__inner {
    position: relative;
}

.blog__thumb {
    position: relative;
}

img, .btn {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    width: -webkit-fill-available;
}

img {
    color: #333;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
}
.blog__hover__action p.blog__des {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 7px;
}
.read__more__btn {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    font-weight: bold;
    color: #ff4136;
}

.blog__post__time {
    background: #fff none repeat scroll 0 0;
    height: 65px;
    padding: 5px;
    text-align: center;
    width: 65px;
}
.bl__meta {
    display: flex;
    margin-bottom: 7px;
    padding-left: 0;
}
.blog__post__time span.date {
    display: block;
    font-size: 20px;
    font-weight: 500;
}
.blog__post__time span.month {
    color: #303030;
    font-size: 14px;
    text-transform: capitalize;
}

.blog__hover__action p.blog__des {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 7px;
}
ul, ol {
    list-style: none;
}
.bl__meta li + li {
    margin-left: 10px;
    padding-left: 10px;
}
.bl__meta li {
    font-size: 12px;
    font-weight: 500;
    position: relative;
}
.blog__post__time {
    left: 20px;
    /* opacity: 0; */
    position: absolute;
    top: 20px;
    transition: all 0.4s ease 0s;
}

.post__time--inner {
    border: 1px solid #f3f3f3;
}

.blog__hover__info {
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 30px 20px;
    position: absolute;
    transition: all 0.5s ease 0s;
    height: 100%;
}
.blog__hover__info:hover{
    opacity: 1;
}
.blog__hover__action {
    margin-top:50%;
}

@media (min-width: 1200px)
.col-lg-4 {
    width: 33.33333333%;
}
@media (min-width: 1200px)
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
@media (min-width: 992px)
.col-md-4 {
    width: 33.33333333%;
}
@media (min-width: 992px)
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

