/* CSS for the Writer App  */
.main_writer {
    height: 100%;
    width: 100%;
    margin: 0 !important;
}
.writer_sidebar {
    background-color: #f7f7f7;
    border: 1px solid #e3e3e3;
}
.writer_content {
    background-color: #f2f2f2;
    padding: 40px 25px;
}
.writer_content:focus {
    outline: none;
}
.writer_display {
    background-color: #e6e6e6;
    display: -webkit-inline-box;
}

.writer_page {
    background-color: white;
    border: 2px solid #e3e3e3;
    margin: 10% auto;
    height: 80%;
    width: 75%;
    padding: 5%;
}

.writer_page_sub {
    margin-left: -85%;
}

.writer_sidebar {
    padding: 20px;
    font-size: 12px;
}

.writerApp_sidebar {
    list-style: none;
}
.writerApp_sidebar_1 {
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 0;
}
.writerApp_sidebar_2 {
    font-size: 1.3em;
    text-transform: capitalize;
    font-weight: 400;
    padding-left: 10px;
    border-left: 1px solid black;
    margin-left: 10px;
}
.writerApp_sidebar_3 {
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: 300;
    padding-left: 20px;
    border-left: 1px solid black;
    margin-left: 10px;
}