/* CSS for the ads App  */
.card {
    padding: 0;
    background-image: url('../ads/Components/images/card.PNG');
    height: 15rem;
    background-size: cover;
}

.col-12 {
    padding: 0;
    width: 100%;
}
.card2{
    background-image: url('../ads/Components/images/card.PNG');

}
.navbar {
    padding: 0;
    background-color: gainsboro;
    margin-top: 2em;
    height: 2em;
}

.fixed-bottom {
    position: relative;
}
.carousel {
    margin: 0;
    padding: 0;
}
.carousel > .carousel-inner {
    height: 35rem;
}
.row {
    margin: 0.5%;
    margin-bottom: 0;
}

.card-img-overlay {
    top: auto;
}
.no-padding {
    padding: 0;
}

/* .left-spacing {
    max-width: 49%;
    margin-left: 0.5%;
} */
.right-spacing {
    max-width: 49%;
    margin-right: 1%;
}
.right-spacing-3{
    
    max-width: 24.5%;
    margin-right: 0.45%;
}

.middle-spacing{
    
    max-width: 49%;
    margin: 0 0.5%;
}