.product {
    margin-top: 70px;
    overflow: hidden;
}

.product {
    position: relative;
}

.single-grid-view .product {
    margin-top: 50px;
}
.product__details h2 {
    color: #444444;
    font-size: 14px;
    font-weight: 500;
}

.product__details {
    padding-top: 27px;
}

.product__price li {
    color: #ff4136;
    font-size: 16px;
}

.product__price li.new__price {
    padding-left: 12px;
}

.product__price li {
    color: #ff4136;
    font-size: 16px;
}

.product__price li.old__price {
    color: #9c9b9b;
    text-decoration: line-through;
}
ul, ol {
    list-style: none;
}
.product__price {
    display: flex;
    margin-top: 9px;
    padding: 0;
}
a {
    color: #333 !important;
}
.product {
    margin-top: 70px;
    overflow: hidden;
}
.product {
    position: relative;
}
.single-grid-view .product {
    margin-top: 50px;
}

.bg__white {
    background: #fff;
}

.ptb--120 {
    padding: 120px 0;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins', sans-serif;
    color: #303030;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
h4, .h4 {
    font-size: 14px;
    font-weight: 400;
}
.section-title-4 {
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.htc-grid-range {
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 60px;
    padding-bottom: 40px;
}
.htc__shop__cat {
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 57px;
    padding-bottom: 32px;
}
ul, ol {
    list-style: none;
    padding: 0;
}


.sidebar__list li {
    color: #575757;
    font-size: 14px;
    font-weight: 300;
    line-height: 34px;
    text-transform: capitalize;
}


.sidebar__list li span {
    float: right;
  }

  .producy__view__container {
    display: flex;
    justify-content: space-between;
}
.product__list__option {
    display: flex;
}
.order-single-btn {
    align-items: center;
    display: flex;
}
.shp__pro__show {
    align-items: center;
    display: flex;
}
.shp__pro__show span {
    color: #606060;
    font-size: 14px;
}

select {
    width: 100%;
}
select.select-color {
    border: 0 none;
    color: #606060;
    font-size: 14px;
}

.order-single-btn {
    padding-right: 50px;
}

.htc__tags {
    display: flex;
    flex-flow: row wrap;
    font-weight: 300;
    margin-left: -13px;
    margin-right: -13px;
}
.htc__tags li {
    margin-bottom: 10px;
    padding: 0 13px;
}
.htc__tags li a {
    color: #575757;
    font-size: 14px;
    text-transform: capitalize;
    transition: 0.3s;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #b7b7b7;
    border-radius: 100%;
    height: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
}

.ui-widget-header {
    background: #b7b7b7 none repeat scroll 0 0;
    border: 1px solid #b7b7b7;
    color: #b7b7b7;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-range.ui-widget-header.ui-corner-all {
    background: #b7b7b7 none repeat scroll 0 0;
}

.product__hover__info:hover {
    opacity: 1;
}
.product__hover__info {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 60%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: 0.6s;
}

.product__action li {
    position: relative;
    width: 50%;
}
.product__action {
    display: flex;
    height: 36px;
    justify-content: space-around;
    line-height: 44px;
    margin: auto;
    position: relative;
    width: 106px;
    z-index: 2;
}

.product__hover__info {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 60%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    z-index: 2;
    /* opacity: 0; */
    transition: 0.6s;
}
.product:hover .product__hover__info {
    opacity: 1;
    top: 50%;
}
.view_more_btn {
    background: white;
    display: flex;
    height: 36px;
    justify-content: space-around;
    line-height: 44px;
    margin: auto;
    position: relative;
    width: 106px;
    z-index: 2;
}