.main__menu > li {
    
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 70px;
    position: relative;
    text-transform: capitalize;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
}
.main__menu > li:hover {
    opacity: 1;
    color: #ff4136;
    transition: ease-in-out 0.5s;
}

.main__menu {
    
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.sticky-header {
    
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 32px;
    width: 100%;

    
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    background: rgba(246, 246, 248, 0.9) none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}