.counter_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.counter_card {    
    align-items: center;
    padding: 14px;
    width: 28%;
    margin: auto;
}
.count {
    font-size: 25px;
    padding: 1px 20px;
}