/* General CSS for the whole playground  */

html, body, #root, .main_container {
    height: 100%;
}
.brand {
    width: 15%;
    padding: 2% 0;  
}

.main_container {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_container > ul {
    margin: 0;
    padding: 0; 
    /* display: flex; */
}

.main_container > ul > li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    font-family: roboto;
    color: gainsboro;
}

.brand {
    font-size: 2.5rem;
    font-family: Open Sans;
    font-weight: 100;
    letter-spacing: 15px;
}

footer {
    bottom: 0;
    position: absolute;
}
.footer {
    color: black;
}
